<section class="image-bg"></section>

<section class="about-section">
	<div class="home-about-div">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 col-sm-6 col-md-3">
					<div class="item-div">
						<i class="fa fa-truck" aria-hidden="true"></i>

						<div class="item-text">
							<h3>Besplatna isporuka</h3>
							<p>Za sve porudžbine preko &euro; 50</p>
						</div>
					</div>
				</div>

				<div class="col-12 col-sm-6 col-md-3">
					<div class="item-div">
						<i class="fa fa-phone" aria-hidden="true"></i>

						<div class="item-text">
							<h3>Online Podrška</h3>
							<p>Veoma korisna podrška</p>
						</div>
					</div>
				</div>

				<div class="col-12 col-sm-6 col-md-3">
					<div class="item-div">
						<i class="fa fa-users" aria-hidden="true"></i>

						<div class="item-text">
							<h3>Partner</h3>
							<p>Uvek uz vas</p>
						</div>
					</div>
				</div>

				<div class="col-12 col-sm-6 col-md-3">
					<div class="item-div br-0">
						<i class="fa fa-leaf" aria-hidden="true"></i>

						<div class="item-text">
							<h3>100% Zdravo</h3>
							<p>Kvalitetna hrana</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-7">
				<div>
					<h1 class="about-title">Dobrodošli na <span>SITENAME</span></h1>
					<p class="about-subtitle">Brinite se o svom zdravlju........?</p>

					<div class="about-text">
						<b>Gospodin Jui Fei:</b><br><br>

						"FOHOW je velika međunarodna naučno-tehnička i investiciona holding Korporacija sa sedištem u Hong Kongu.<br><br>

						Njen osnivač je gospodin Jui Fei. Osnovni cilj Korporacije FOHOW je da stvori najuspešniju kompaniju za proizvodnju prirodnih preparata, da utemelji plasman u Kini i da se uspešno plasirala na svetskom tržištu.<br><br>

						To je prva naučno istraživačka korporacija u Kini koja u sklopu svoje proizvodnje ima i sopstveni Istraživački Institut i koji se specijalizirao za istraživanje, proizvodnju i promociju dijetetskih preparata i proizvoda za očuvanje zdravlja."
					</div>
				</div>
			</div>

			<div class="col-12 col-sm-5">
				<div class="about-icons-div">
					<div class="row">
						<div class="col-3">
							<i class="fa fa-user-o" aria-hidden="true"></i>
						</div>
						<div class="col-9">
							<h2>KO SMO MI</h2>
							<p>FOHOW je prva Naučno Istraživačka Korporacija u Kini koja u sklopu svoje proizvodnje ima i sopstveni Istraživački Institut koji se specijalizirao za istraživanje, proizvodnju i promociju dijetetskih preparata i proizvoda za očuvanje zdravlja.</p>
						</div>
					</div>
				</div>

				<div class="about-icons-div">
					<div class="row">
						<div class="col-3">
							<i class="fa fa-cogs" aria-hidden="true"></i>
						</div>
						<div class="col-9">
							<h2>KAKO RADIMO</h2>
							<p>Glavni cilj Korporacije FOHOW  je razviti kulturu održavanja zdravlja i dati mogućnost  za ostvarenje blagostanja i uspeha svim ljudima u svetu.</p>
						</div>
					</div>
				</div>

				<div class="about-icons-div">
					<div class="row">
						<div class="col-3">
							<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
						</div>
						<div class="col-9">
							<h2>KVALITETNI PROIZVODI</h2>
							<p>Proizvodi su potpuno prirodni, imaju očigledan efekat delovanja, tehnologija izrade i sastav su zaštičeni patentom. Paleta proizvoda korporacije FOHOW dobila je visoku ocenu korisnika na svim nivoima kako na tržištu u Kini tako i u drugim zemljama.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="offer-section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-sm-6 p-0">
				<div class="offer-div">
					<div class="offer-text">
						<p>Izdvajamo iz ponude</p>
						<h2>PONUDA 1</h2>
						<h1 class="price">&euro; 50</h1>
						<button class="send-message-btn">NARUČI</button>
					</div>

					<div class="offer-img">
						<img src="assets/images/fruit.png" alt="offer">
					</div>
				</div>
			</div>

			<div class="col-12 col-sm-6 p-0">
				<div class="offer-div offer-2">
					<div class="offer-text">
						<p>Izdvajamo iz ponude</p>
						<h2>PONUDA 2</h2>
						<h1 class="price">&euro; 50</h1>
						<button class="send-message-btn">NARUČI</button>
					</div>

					<div class="offer-img">
						<img src="assets/images/fruit.png" alt="offer">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="products-section">
	<div class="section-header">
		<h1>Izdvajamo iz ponude</h1>
		<img src="assets/images/section-header.png" alt="section-header">
	</div>

	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-6 col-md-4" *ngFor='let product of products'>
				<div class="product-div" [routerLink]="['/shop/product/', product.id]">
					<div class="image" [ngStyle]="{'background-image': 'url(' + product.imgUrl + ')'}">
						<button class="add-btn">
							<span>POGLEDAJ PROIZVOD</span>
						</button>
					</div>

					<div class="text">
						<p class="price">&euro; {{product.price}}</p>
						<h3 class="name">{{product.name}}</h3>
					</div>
				</div>
			</div>
		</div>

		<div class="text-center">
			<button class="send-message-btn" routerLink="/shop">VIDI SVE PROIZVODE</button>
		</div>
	</div>
</section>

<section class="reviews-section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="row align-items-center review-div">
					<div class="col-12 col-sm-4 review-nav">
						<h1>Iskustva</h1>

						<div class="nav-div">
							<div class="prev" (click)='onChangeReview(false)'><</div>
							<div class="next" (click)='onChangeReview(true)'>></div>
						</div>
					</div>

					<div class="col-12 col-sm-4 review-img">
						<img src="assets/images/profile.png" alt="client">
					</div>

					<div class="col-12 col-sm-4 review-text">
						<p>{{currentReview.review}}</p>

						<h1>{{currentReview.user}}</h1>
						<h5>{{currentReview.aboutUser}}</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>