<section class="image-bg">
	<h1>O nama</h1>
	<p>Početna / O nama</p>
</section>

<section class="about-section">
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-7">
				<div>
					<h1 class="about-title">Dobrodošli na <span>SITENAME</span></h1>
					<p class="about-subtitle">Brinite se o svom zdravlju........?</p>

					<div class="about-text">
						<b>Gospodin Jui Fei:</b><br><br>

						"FOHOW je velika međunarodna naučno-tehnička i investiciona holding Korporacija sa sedištem u Hong Kongu.<br><br>

						Njen osnivač je gospodin Jui Fei. Osnovni cilj Korporacije FOHOW je da stvori najuspešniju kompaniju za proizvodnju prirodnih preparata, da utemelji plasman u Kini i da se uspešno plasirala na svetskom tržištu.<br><br>

						To je prva naučno istraživačka korporacija u Kini koja u sklopu svoje proizvodnje ima i sopstveni Istraživački Institut i koji se specijalizirao za istraživanje, proizvodnju i promociju dijetetskih preparata i proizvoda za očuvanje zdravlja."
					</div>
				</div>
			</div>

			<div class="col-12 col-sm-5">
				<div class="about-icons-div">
					<div class="row">
						<div class="col-3">
							<i class="fa fa-user-o" aria-hidden="true"></i>
						</div>
						<div class="col-9">
							<h2>KO SMO MI</h2>
							<p>FOHOW je prva Naučno Istraživačka Korporacija u Kini koja u sklopu svoje proizvodnje ima i sopstveni Istraživački Institut koji se specijalizirao za istraživanje, proizvodnju i promociju dijetetskih preparata i proizvoda za očuvanje zdravlja.</p>
						</div>
					</div>
				</div>

				<div class="about-icons-div">
					<div class="row">
						<div class="col-3">
							<i class="fa fa-cogs" aria-hidden="true"></i>
						</div>
						<div class="col-9">
							<h2>KAKO RADIMO</h2>
							<p>Glavni cilj Korporacije FOHOW  je razviti kulturu održavanja zdravlja i dati mogućnost  za ostvarenje blagostanja i uspeha svim ljudima u svetu.</p>
						</div>
					</div>
				</div>

				<div class="about-icons-div">
					<div class="row">
						<div class="col-3">
							<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
						</div>
						<div class="col-9">
							<h2>KVALITETNI PROIZVODI</h2>
							<p>Proizvodi su potpuno prirodni, imaju očigledan efekat delovanja, tehnologija izrade i sastav su zaštičeni patentom. Paleta proizvoda korporacije FOHOW dobila je visoku ocenu korisnika na svim nivoima kako na tržištu u Kini tako i u drugim zemljama.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="services-section">
	<div class="section-header">
		<h1>O NAMA</h1>
		<img src="assets/images/section-header.png" alt="section-header">
	</div>

	<div class="services-text-div">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="text">
						Kompanija FOHOW je deo velike međunarodne naučno-tehničke i investicione holding korporacije FOHOW sa sedištem u Hong Kongu. Glavni cilj Korporacije FOHOW  je razviti kulturu održavanja zdravlja i dati mogućnost  za ostvarenje blagostanja i uspeha svim ljudima u svetu.<br><br>

						NAJKVALITETNIJI PREPARATI NA TRŽIŠTU SRBIJE, BALKANA I EVROPE! TEČNI ELIKSIRI NA BAZI KORDICEPSA, REIŠI I ŠITAKI - PEČURAKA SA TIBETA! JAČANJE IMUNITETA  DETOKSIKACIJA ORGANIZMA I NAJBRŽE BLOKIRANJE KANCEROGENIH ĆELIJA! USVAJANJE ELIKSIRA PODJEZIČNO NA PRINCIPU NITROGLICERINA ZA NEKOLIKO MINUTA<br><br>

						Preparati kompanije FOHOW su bio-imuno-energo-regulatori brzog delovanja za uspostavljanje i normaliziranje funkcija u organizmu.<br><br>

						* Receptura preparata je stara hiljadama godina i zasniva se na čuvenim tradicionalnim kineskim metodama za održavanje zdravlja i dugovečnosti.<br><br>

						* Kod koriščenja ovih preparata dolazi do regeneracije na ćelijskom nivou u organizmu i usporavanja procesa starenja. Preparati kompanije FOHOW su proizvedeni po najnovijoj svetskoj tehnologiji.<br><br>

						* Pri proizvodnji preparata koriste se najsavremenije metode kriaekstrakovanja na minus 20 stepeni da bi se sačuvala lekovitost pečuraka i ostalih bilja, drobljenja sirovine do najsitnijih mikro molekula i ekstrahovanja iste.<br><br>

						* Nove tehnologije omogućavaju da se maksimalno sačuvaju aktivne komponente, što povećava usvojivost preparata do 100 % i obezbeđuje efikasno i brzo delovanje na organizam.<br><br>

						* Sva preduzeća korporacije FOHOW sprovode izuzetno strogu kontrolu kvaliteta u toku procesa proizvodnje na osnovu koje preparati poseduju sertifikate i to: <i>GMP, HASAP, GMO, HALLAL, ISO9001. Sertifikacija je izvršena i u mnogim zemljama sveta: Litvanija, Latvija, Estonija, Ukraina, Rusija, Izrael, Kazakstan, Uzbekistan, Mongolija, Benin, Gana-Južna Afrika, Amerika, Velika Britanija, Srbija.</i>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="certificates-section">
	<div class="section-header">
		<h1>SERTIFIKATI</h1>
		<img src="assets/images/section-header.png" alt="section-header">
	</div>

	<div class="certificates-div">
		<div class="container-fluid">
			<div class="row">
				<div class="col">
					<div class="certificate-div" (click)="openGallery('rus')">
						<div class="image">
							<h3>RUSKI</h3>
						</div>

						<div class="icon">
							<i class="fa fa-check-circle" aria-hidden="true"></i>
						</div>
					</div>
				</div>

				<div class="col">
					<div class="certificate-div">
						<div class="image" style="background-image: url('/assets/images/certificate/srb1.jpg');">
							<h3>SRPSKI</h3>
						</div>

						<div class="icon">
							<i class="fa fa-check-circle" aria-hidden="true"></i>
						</div>
					</div>
				</div>

				<div class="col">
					<div class="certificate-div">
						<div class="image" style="background-image: url('/assets/images/certificate/usa.jpg');">
							<h3>AMERIČKI</h3>
						</div>

						<div class="icon">
							<i class="fa fa-check-circle" aria-hidden="true"></i>
						</div>
					</div>
				</div>

				<div class="col">
					<div class="certificate-div">
						<div class="image" style="background-image: url('/assets/images/certificate/ukr1.jpg');">
							<h3>UKRAJNSKI</h3>
						</div>

						<div class="icon">
							<i class="fa fa-check-circle" aria-hidden="true"></i>
						</div>
					</div>
				</div>

				<div class="col">
					<div class="certificate-div">
						<div class="image" style="background-image: url('/assets/images/certificate/zem1.jpg');">
							<h3>OSTALE ZEMLJE</h3>
						</div>

						<div class="icon">
							<i class="fa fa-check-circle" aria-hidden="true"></i>
						</div>
					</div>
				</div>

				<div class="col">
					<div class="certificate-div">
						<div class="image" style="background-image: url('/assets/images/certificate/ost1.jpg');">
							<h3>OSTALI SERTIFIKATI</h3>
						</div>

						<div class="icon">
							<i class="fa fa-check-circle" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>