.image-bg {
	padding: 150px 0;
	position: relative;
	text-align: center;
	background: #ccc;
	background-image: url('/assets/images/backgrounds/cart.png');
	background-position: center;
	background-size: cover;
	color: #000;

	p {
		font-family: 'Courgette', cursive;
	}
}

.cart-section {
	padding: 75px 0;
	background: #eee;

	table {
		width: 100%;

		thead {
			background: #000;
			color: #fff;

			th {
				padding: 10px 20px;
			}
		}

		tbody {
			background: #fff;

			td {
				padding: 10px 20px;
				border: 1px solid #eee;

				img {
					width: 100%;
					max-width: 30px;
					margin-right: 10px;
				}

				h3 {
					display: inline-block;
					font-size: 18px;
				}

				.product-quantity-div {
					background: #eee;
					padding: 5px;
					position: relative;

					button, input {
						display: inline-block;
					}

					button {
						outline: 0;
						border: 0;
						background: #333;
						color: #fff;
						text-align: center;
						padding: 6px 14px;
						cursor: pointer;
						float: left;
						position: relative;
						z-index: 2;

						&.plus-btn {
							background: #9fcb32;
							float: right;
						}
					}

					input {
						width: 100%;
					    background: #eee;;
					    outline: 0;
					    border: 0;
					    position: absolute;
					    left: 0;
					    padding: 8px 45px;
					    z-index: 1;
					}
				}
			}
		}

		tfoot {
			background: #9fcb32;
			color: #fff;

			td {
				padding: 20px 50px;

				span {
					color: #000;
				}

				.add-btn {
					background: #000;
					border: 0;
					outline: 0;
					color: #fff;
					font-size: 14px;
					cursor: pointer;
					padding: 8px 25px;
					border-radius: 100px;
					width: 100%;
    				max-width: 190px;
				}
			}
		}
	}
}