header {
	background: #fbfbfb;
	color: #575757;
	
	.row > div {
		padding: 15px;
	}

	.logo {
		width: 100%;
		max-width: 65px;
	}

	nav {
		text-align: center;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;

				a {
					color: #575757;
					display: block;
    				padding: 20px 15px;

    				&.active {
    					color: #9fcb32;
    					font-weight: 500;
    				}
				}
			}
		}
	}

	.my-cat-div {
		background: #eee;
		padding: 35px 15px;
		text-align: center;
		cursor: pointer;

		.icons-div {
			display: inline-block;
			position: relative;

			i {
				font-size: 20px;
			}

			.num-items {
				position: absolute;
			    width: 20px;
			    height: 20px;
			    background: #9fcb32;
			    color: #fff;
			    border-radius: 50%;
			    top: -8px;
			    right: -14px;
			    text-align: center;
			    font-size: 14px;
			}
		}

		.cart {
			display: inline-block;
			margin-left: 25px;
			font-family: 'Courgette', cursive;

			span {
				&.money {
					color: #9fcb32;
				}
			}
		}
	}
}