/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Courgette');

body {
	font-family: 'Poppins', sans-serif;
	color: #575757;
}

.gallery-modal {
	.mat-dialog-container {
		position: relative;
	}
}